<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Project</th>
    </tr>
    <tr>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>{{#if file}}<a href="/candidates/{{id}}/project">Download</a>{{/if}}</td>
    </tr>
</table>