<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>File</th>
    </tr>
    <tr>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>{{#if file}}{{file}}{{/if}}</td>
    </tr>
</table>