<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Project</th>
    </tr>
    <tr>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>
            <form action="/candidates/{{id}}/upload" method="POST" enctype="multipart/form-data" target="dummyframe">
                <div className='form-group'>
                    <input type="file" name="project" accept=".zip" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">Upload</button>
            </form>
        </td>
    </tr>
</table>

<div>
    <ul class="verticalList"> 
        <li><a href="/documents/InfoTrack Developer Tech Challenge.pdf" target="_blank">Task Description</a></li>
        <li><a href="/documents/API Documentation.pdf" target="_blank">API Documentation</a></li>
    </ul>
</div>

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>